<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuditEntities" connectionString="metadata=res://*/Audit.AuditModel.csdl|res://*/Audit.AuditModel.ssdl|res://*/Audit.AuditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zerg\sqlexpress;initial catalog=audit-test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>