body
{
    background-color: White;
    font-family: Times New Roman;
    min-width: 750px;
    margin: 0px;
}

a:active
{
	color: Black;
}

a:visited
{
	color:Black;
}

a:link
{
	color:Black;
}

.selected
{
	background-color: #4682b4;
	border-radius: 5px;
	border-color: Black;
	border-width: 1px;
	border-style: solid;
}