namespace COTES.ISTOK
{
    partial class VersionInfo
    {
#if VC_REVISION
        /// <summary>
        /// Номер ревизии полученный из системы контроля версий.
        /// </summary>
        private const string BuildVersionRevision = "$WCREV$"; 
#endif
    }
}